{%- assign lang = site.translations[site.lang] -%}

<section id="faq2" class="section bg-light">
  <div class="container">

    {%- 
      include templates/section-header.html
      header=lang.faq2.header
      subheader=lang.faq2.subheader2
      p=''
    -%}

    <div class="row">
      <div class="col-md-12 dx-animate accordion">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10">

            {%- assign faq2_section_limit = 14 -%}
            {%- assign question2_count = lang.faq2.questions2 | size -%}
            {%- if faq2_section_limit > question2_count -%}
              {%- assign faq2_section_limit = question2_count -%}
            {%- endif -%}
            {%- assign half_limit = faq2_section_limit | divided_by: 2 | round -%}

            {%- for i in (0..half_limit) -%}
              {%- if i < half_limit -%}
                {%- assign q = lang.faq2.questions2[i].question2 -%}
                {%- assign a = lang.faq2.questions2[i].answer2 -%}
                {%- 
                  include templates/accordion.html
                  section='faq2'
                  expanded=false
                  num=i
                  header=q
                  content=a
                -%}
              {%- endif -%}
            {%- endfor -%}

          </div>
          <div class="col-lg-6 col-md-10">

            {%- for i in (half_limit..faq2_section_limit) -%}
              {%- if i >= half_limit -%}
                {%- assign q = lang.faq2.questions2[i].question2 -%}
                {%- assign a = lang.faq2.questions2[i].answer2 -%}
                {%- 
                  include templates/accordion.html
                  section='faq2'
                  expanded=false
                  num=i
                  header=q
                  content=a
                -%}
              {%- endif -%}
            {%- endfor -%}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>